<Server version="8">
  <Bind>
    <Publishers>
      <WebRTC>
        <Signalling>
          <Port>3333</Port>
        </Signalling>
        <IceCandidates>
          <Candidate>*:10000-10005/udp</Candidate>
        </IceCandidates>
      </WebRTC>
    </Publishers>
  </Bind>
  <VirtualHosts>
    <VirtualHost>
      <Name>default</Name>
      <Applications>
        <Application>
          <Name>cove</Name>
          <Type>live</Type>
          <Publishers>
            <WebRTC />
          </Publishers>
          <OutputProfiles>
            <OutputProfile>
              <Name>bypass</Name>
              <OutputStreamName>${Application}/${Stream}</OutputStreamName>
              <Encodes>
                <Video>
                  <Bypass>true</Bypass>
                </Video>
                <Audio>
                  <Bypass>true</Bypass>
                </Audio>
              </Encodes>
            </OutputProfile>
          </OutputProfiles>
          <Webhooks>
            <URL>https://thecove.boatable.app/api/streams/webhook</URL>
            <Events>
              <Event>stream_started</Event>
              <Event>stream_stopped</Event>
            </Events>
          </Webhooks>
        </Application>
      </Applications>
    </VirtualHost>
  </VirtualHosts>
</Server>
